* {
   margin: 0;
    padding: 0;   
}

body { 
  overflow-x: hidden; /*Sirve para esconder la barra desplazaminto inferior*/
}


h1,h2,h3{
   font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding-bottom: 10px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    text-align: justify;
}

#contenedor {
    width: 9o%;
    height: auto;
    margin: auto;
}

#portada {
    width: 100%;
    height: auto;
    border: solid 3px black; 
}

.header  {
    background: url("../images/mio/conferencia.jpg");
    height: 450px;
     width: 100%;
}



#menu {
    position: relative;
    left: 45px;
    margin-top: 7px;
}

.menuboton {
    background: #FFEA00;
    margin: 1px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    border-radius: 6%;
   
}
a {
    
   text-decoration: none;
    color: black;  
}
.misenlaces {
    text-decoration: none;
    font-size: 18px;
    color: #01579B;
}


.menu2 {
    
    width: 27%;
    height: auto;
    position: relative;
    left: 50px;
    padding: 10px;
}

#micuerpo {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    height: auto;
    margin: auto;
}

.micontenido {
    background: #FFFFFF;
    width: 74%;
    height: auto;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 20px;
    
}

.talleres {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.publicidad {
    display: flex;
    align-items:center;
    flex-direction: column;
    background:#FFEA00;
    width: 26%;
    height: auto;
    margin-bottom: 30px;
    padding: 10px;
   
}
.diplomados {
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.diplomados ,p {
    margin: 0;
    padding: 0;
    border: solid 2 red;
}
.libro {
    width: 30px;
    height: auto;
    margin: 0;
    padding: 0;
}

input {
    font-size: 15px;
    padding: 5px;
}

button {
    background: #FBC02D;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 5px;
    padding: 3px;
    margin-bottom: 20px;
}


.foter {
    padding: 30px;
    background:#FFEB3B;
    width: 100%;
    height: auto;
    margin: auto;
    color: black;
    font-size: 18px;
}


@media screen and (max-width: 800px){
     
   
    
    .header  {
    background: url("../images/mio/conferencia3.jpg");
     height: auto;
     width: 100%;
}
    
    #micuerpo { 
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: auto;
}
    
    #menu {
    position: relative;
    left: 35px;
    margin-top: 5px;
}

    
    .menuboton {
    background: #FFEA00;
    margin: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 20px;
    border-radius: 5%;
   
}
    .micontenido {
    background: #FFFFFF;
    width: 95%;
    height: auto;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 20px;
    
}
    .publicidad {
        display: flex;
        align-items: center;
        flex-direction: column;
        background:#FFEA00;
        width: 85%;
        height: auto;
        margin-bottom: 30px;
        padding: 10px;
   
}
    
    h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    padding-bottom: 10px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
}


    
}


@media screen and (max-width: 650px) {
    
     
    #contenedor {
     
        width: 95%;
         height: auto;
        
    } 
    
   .header  {
    background: url("../images/mio/conferencia.jpg");
     height: auto;
     width: 100%;
}
    
    #menu {
        display: none;
        
    }
    #menuDos {
        width: 100%;
        height: auto;
        margin: auto;
    }
    
    .menu2 {
      
        width: 95%;
        height: auto;
        position: relative;
        left: 0;
        padding: 0;
        
    }
    
 
   