* {
   margin: 0;
    padding: 0;   
}

body { 
  overflow-x: hidden; /*Sirve para esconder la barra desplazaminto inferior*/
}


h1,h2,h3{
   font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding-bottom: 10px;
}

p {
    font-family: 'Lato', sans-serif;    
    font-size: 25px;
    margin-bottom: 20px;
}


.cabezote {
    background-image: url(../images/mio/nueva.jpg);
    height: 310px;
}



#contenedor {
    width: 85%;
    height: auto;
    margin: auto;
   
}



#menu {
    position: relative;
    left: 45px;
    margin-top: 17px;
}

.menuchiko {
    display: none;
}

.menuboton {
    background: #FFEA00;
    margin: 1px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    border-radius: 6%;
   
}
a {
    
   text-decoration: none;
    color: black;  
}
.misenlaces {
    text-decoration: none;
    font-size: 18px;
    color: #01579B;
}


.menu2 {
    
    width: 27%;
    height: auto;
    position: relative;
    left: 50px;
    padding: 10px;
}

#micuerpo {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    height: auto;
    margin: auto;
   
}

.micontenido {
    background: #FFFFFF;
    width: 74%;
    height: auto;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 20px;
    
}

.talleres {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.publicidad {
    display: flex;
    align-items:center;
    flex-direction: column;
    background:#FFEA00;
    width: 26%;
    height: auto;
    margin-bottom: 30px;
    padding: 10px;
   
}
.diplomados {
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.libro {
    width: 30px;
    height: auto;
    margin: 0;
    padding: 0;
}

input {
    font-size: 15px;
    padding: 5px;
}

button {
    background: #FBC02D;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 5px;
    padding: 3px;
    margin-bottom: 20px;
}


.foter {
    padding: 30px;
    background:#FFEB3B;
    width: 100%;
    height: auto;
    margin: auto;
    color: black;
    font-size: 18px;
}


@media screen and (max-width: 800px){
    
    *{
        margin: 0;
        padding: 0;
    }
     
    
    .cabezote {
     background: url("../images/mio/nueva1.jpg");
     height: 256px;
     width: auto;
}
    
    #micuerpo { 
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: auto;
}
    
    #menu {
    position: relative;
    left: 35px;
    margin-top: 15px;
}
    
    .menuchiko {
    display: none;
}

    
    .menuboton {
    background: #FFEA00;
    margin: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 20px;
    border-radius: 5%;
   
}
    .micontenido {
    background: #FFFFFF;
    width: 95%;
    height: auto;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 20px;
    
}
    .publicidad {
        display: flex;
        align-items: center;
        flex-direction: column;
        background:#FFEA00;
        width: 85%;
        height: auto;
        margin-bottom: 30px;
       
   
}
    
    h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    padding-bottom: 10px;
}

p {
   font-family: 'Lato', sans-serif;    
    font-size: 23px;
    margin-bottom: 18px;
}


    
}


@media screen and (max-width: 650px) {
   
      
    *{
        margin: 0;
        padding: 0;
    }
    
    .micontenido {
        width: 100;
        height: auto;
        margin-left: 20px;
        padding: 10px;
    }

    
    .cabezote {
     background: url("../images/mio/nueva2.jpg");
     height: 192px;
     width: 100%;
}  
    #menu {
        display: none;
        
    }
    
    .menuchiko{
      background: red;
        height: 40px;
        border: solid 3px  green;
    }
    
    #menuDos {
        width: 100%;
        height: auto;
        margin: auto;
    }
    
    .menu2 {
      
        width: 100%;
        height: auto;
        position: relative;
        left: 0;
        padding: 0;
        
    }
    
    .publicidad {
       
    }
    
        h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    padding-bottom: 10px;
}

p {
    font-family: 'Lato', sans-serif;   
    font-size: 20px;
    margin-bottom: 15px;
}

    
    
    @media screen and (max-width: 499px) {
        
          
    *{
        margin: 0;
        padding: 0;
    }
        
          #contenedor {
     
        width: 100%;
        height: auto;
        margin: auto;
        padding: 5px;
        
    } 
        
         .cabezote {
     background: url("../images/mio/nueva3.jpg");
     height: 105px;
     width: 100%;
    } 
        
            h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    padding-bottom: 10px;
}

p {
    font-family: 'Lato', sans-serif;    
    font-size: 18px;
    margin-bottom: 13px;
}

        
    }
 
   